* {
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: #333;
}

canvas {
    background-color: #333;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.help {
    position: fixed;
    z-index: 2;
    left: 25px;
    top: 20px;
    color: #FFF;
    font-size: 16px;
}

select {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    padding: 2px;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #111;
    font-size: 30px;
    text-align: center;
    line-height: 100vh;
    font-weight: 700;
    color: #FFF;
}